:root {
  --main-bg-color: rgb(0, 0, 0);
  --second-bg-color: red;
  --third-bg-color: gray;
  --main-font-style: helvetica;
  --second-font-style: arial;
  --main-font-color: white;
  --second-font-color: black;
  --main-font-weight: bold;
}

*{
    color: var(--main-font-color);
}
body {
  background-color: var(--main-bg-color);
}

.disabled {
    display: none !important;
}

.main-nav-ctn {
  display: flex;
  justify-content: space-evenly;
  color: var(--main-font-color);
  width: 100vw;
}

ul {
  display: inline-flex;
  list-style: none;
}
ul > .item {
  justify-content: space-evenly;
}

.item {
  margin: 20px;
  transition: font-size 1.5s ease;
}

.item:hover {
    text-decoration: underline;
    font-size: 1.5em;
}

.social-links {
  position: fixed;
  color: var(--main-font-color);
}

.immage-slider-ctn{
    width:100%;
}

.img{
    height: auto;
    width:100%;
}

.jumbo-banner-ctn {
    display: flex;
    justify-content: center;
}

.footer-ctn {
    margin-bottom: 0px;
}

.about-section {
    color: var(--main-font-color);
    display: inline-block;
    text-align: center;
}

.main-card-grid-ctn {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.main-content-ctn{
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-content-ctn > div {
text-align: center;
border: 2px solid gray;
padding: 2em;
}
button{
    background-color: var(--second-bg-color);
}